<%= form_for(@event_name) do |f| %>
  <% if @event_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_name.errors.count, "error") %> prohibited this event_name from being saved:</h2>

      <ul>
      <% @event_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
